Requirements for running Instagram bot:

1. pip install webdrivermanager
2. pip install selenium
3. Make sure these two packages are in the python path folder
4. Continually check the Frontend (Web Browser) for any new changes, because xpath and css links might not work as expected
5. You can now successfully execute the code for the bot
6. I want to make more features like finding unfollowers, so if you want to contribute that would be great!